.cart {
    display              : grid;
    grid-template-columns: 1fr;
    gap                  : 1rem;
}

.cart .emptyCart{
    color: #fff;
    height: 80vh;
    display: flex;
   
    align-items: center;
    justify-content: center;
}
 