
/* main-nav */

.nav .logoDot{
    background-color: #F900E6;
    padding      : .2rem;
    border-radius: 25px;
    display: inline-block;
    margin-left: 2px;
}

.nav {
    background-color: #282F36;
    padding         : .5rem 0;
    color           : #fff;
}

.nav div {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.nav .cartSummary{
    position: relative;
    margin-right: .8rem;

}

.nav .totalQuantityCounter{
    position: absolute;
    top: -8px;
    right: -13px;
    font-size: .6rem;
    background-color: #FF0DED;
    padding: 1px 7px;
    border-radius: 25px;
    font-family: sans-serif !important;
    text-align: center;
}



.nav .cartSummary:hover{
   cursor: pointer;
}